@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #4D573F;
  --foreground: #2D4A2D;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-dm-sans), system-ui, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
